packages
build
freedesktop-sdk-base
rpm-dependencies.P
repo
freedesktop-*-platform-rpmdb.tar.gz
freedesktop-*-platform.tar.gz
freedesktop-*-sdk-rpmdb.tar.gz
freedesktop-*-sdk.tar.gz
buildhome/.cache
buildhome/.ccache
buildhome/.bash_history
buildhome/.lesshst
buildhome/.python-history
